body{

}
.navbar{
    display: flex;
    margin-left: 30rem;
    display: inline-block;
    justify-content:space-between;
    
      
}
.navbar a{

    font-size: 1.2rem;
    color: var(--text-color);
    margin-left: 1.3rem; 
    text-align: center;
    padding-left: 30px;
    text-decoration: none;

   
}
.content{
    display: flex;
    justify-content: center;
    background-color: rgb(127, 127, 212);
}
.content1{
    font-size: 30px;
    color: aliceblue;
    padding-top: 10%;
}
.btn1{
    height: 8vh;
    width: 20%;
    font-size: 20px;
    background-color: rgb(230, 162, 173);
    color:azure;
}
#dates{
    text-align: center;
}
.select{
    text-align: center;
}
.dresses{
   display: grid;
   grid-template-columns: repeat(4,1fr);
}
.dresses img{
    height: 62%;
   padding-top: 20%;
}
.BTN{
    height: 8vh;
    width: 20%;
    font-size: 20px;
    background-color: rgb(231, 154, 167);
    color:azure; 
    margin-left: 40%;
}
.all-products{
    display: grid;
   grid-template-columns: repeat(2,1fr);
   position: relative;

}
.all-products img{
    height: 500px;
}
.jim-wear p {
    position: absolute;
    top: 20%;
    left: 50%; 
    color:white;
}
.jim-wear h3 {
    position: absolute;
    top: 18%;
    left: 50%; 
    color:white;
}
.jim-wear button {
    position: absolute;
    top: 15%;
    left: 50%; 
    color:rgb(32, 28, 28);
    padding: 2%;
    
}
.heals p{
    position: absolute;
    top: 18%;
    /* left: 100px;  */
    color:white;  

}

.footer{
    display: flex;
    justify-content: space-between;
    padding-top: 6%;
}
.container {
    position: relative;
  }
  
  .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
